* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  background-color: white;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
:root {
  --heading-font: "Sen", sans-serif;
  --primary-color: #ffb900;
}
/* ========== Chung toàn trang ========== */
a {
  /* bỏ gạch chân */
  text-decoration: none;
}
.main-content {
  width: 117rem;
  max-width: calc(100% - 4.8rem);
  margin-left: auto;
  margin-right: auto;
}
.btn {
  display: inline-block;
  height: 6.4rem;
  padding: 1.7rem 3.4rem;
  color: #fff;
  background: #171100;
  border-radius: 3.2rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.75;
  cursor: pointer;
}
.heading-lv2 {
  color: #171100;
  font-family: var(--heading-font);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 4.8rem;
  letter-spacing: -0.076rem;
}
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-clamp.line-2 {
  --line-clamp: 2;
}
.break-all {
  word-break: break-all;
}
/* ========== Header ========== */
.header {
  height: 12.2rem;
  background: hsl(44, 100%, 98%);
}
.header.fixed {
  z-index: 1;
  position: sticky;
  top: -2.8rem;
}
.header .body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4.2rem;
}
.header .logo {
  margin: 0 1rem;
}
.header .nav {
  margin-left: auto;
}
.header .nav ul {
  display: flex;
  list-style: none;
}
.header .nav a {
  color: #171100;
  font-size: 1.6rem;
  padding: 0.8rem 2.1rem;
}
.header .nav a:hover {
  color: #171100;
  text-shadow: 0.1rem 0 0 currentColor;
}
.header .action {
  display: flex;
  gap: 1.2rem;
}
.header .action a {
  width: 13.5rem;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
}
/* ========== Main ========== */
/* ======= hero ======= */
.main .hero {
  padding: 5.6rem 0 6.5rem;
  background: hsl(44, 100%, 98%);
}
.main .hero .body {
  display: flex;
}
/* ======= hero left ======= */
.main .hero .media-block {
  width: 48%;
  position: relative;
}
.main .hero .media-block .img {
  width: 47rem;
  height: 68.5rem;
  object-fit: cover;
}
.hero .hero-summary {
  padding: 2.4rem;
  width: 27rem;
  border-radius: 2rem;
  background: #fff;
  box-shadow: 0rem 1.6rem 3.2rem 0rem rgba(0, 0, 0, 0.05);
  position: absolute;
  bottom: 4.8rem;
  right: 0;
}
.hero-summary .item {
  display: flex;
  align-items: center;
}
.hero-summary .item + .item {
  margin-top: 2.2rem;
}
.hero-summary .icon {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-summary .icon1 {
  background: #fff9e8;
}
.hero-summary .icon2 {
  background: #fcefff;
}
.hero-summary .icon3 {
  background: #ebeaff;
}
.hero-summary .info {
  margin-left: 1.6rem;
}
.hero-summary .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66;
}
.hero-summary .label {
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86;
}

/* ======= hero right ======= */
.hero .content-block {
  width: 52%;
  padding-left: 13rem;
  padding-top: 6.4rem;
}
.content-block h1 {
  color: #171100;
  font-family: var(--heading-font);
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: -0.116rem;
}
.hero .content-block p {
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.66;
  padding-top: 2.2rem;
}
.hero .desc-stats strong {
  color: #171100;
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.23rem;
  margin-right: 1rem;
}
.hero .desc-stats strong:nth-child(2) {
  margin-left: 1rem;
}
.btn:hover {
  opacity: 0.8;
}
.hero .cta-group {
  display: flex;
  align-items: center;
  padding-top: 3.8rem;
  border-radius: 32px;
}
.hero .cta-group a {
  color: #fff;
  font-size: 1.6rem;
}
.hero .hero-cta {
  background: var(--primary-color);
}
.hero .watch-video {
  display: flex;
  align-items: center;
  border: none;
  background: transparent;
  margin-left: 2.8rem;
}
.hero .watch-video span {
  color: #171100;
  font-family: Poppins;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  margin-left: 1.4rem;
}
.hero .watch-video .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  border: 0.25rem solid rgba(0, 0, 0, 0.07);
  border-radius: 4rem;
  background: #ffffff;
  box-shadow: 0rem 8rem 16rem 0rem rgba(0, 0, 0, 0.1);
}
.hero .desc-recent {
  margin-top: 1.2rem;
}
/* ======= popular ======= */
.popular {
  padding: 5.6rem 0 6.5rem;
}
.popular-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular-top .desc {
  width: 45.8rem;
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 3rem;
}
.popular-top .control {
  display: flex;
  gap: 1.2rem;
}
.popular-top .control-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.popular-top .control-btn:hover {
  background: var(--primary-color);
  color: white;
  cursor: pointer;
}
.popular .course-list {
  display: flex;
  margin-top: 5.5rem;
  gap: 3rem;
}
.popular .course-item {
  border-radius: 1.2rem;
  background: #fff;
  box-shadow: 0rem 1.8rem 3.6rem 0rem rgba(0, 0, 0, 0.05);
}
.popular .course-item .thumb {
  width: 100%;
  height: 27.8rem;
  object-fit: cover;
  border-radius: 1.2rem 1.2rem 0rem 0rem;
}
.popular .head {
  display: flex;
  justify-content: space-between;
  margin-left: 2.2rem;
  margin-right: 2.2rem;
}
.popular .rating {
  display: flex;
  align-items: center;
}
.popular .course-item .title {
  margin-top: 1.6rem;
  color: #171100;
  font-family: Poppins;
  font-size: 1.8rem;
  font-weight: 600;
}
.popular .course-item .value {
  color: var(--primary-color);
  font-size: 1.6rem;
}
.popular .course-item .desc {
  margin-top: 0.6rem;
  margin-left: 2.2rem;
  margin-right: 2.2rem;
  width: 33rem;
  color: #5f5b53;
  font-size: 1.4rem;
}
.popular .course-item .foot {
  margin-top: 1.2rem;
  margin-bottom: 2.2rem;
  margin-left: 2.2rem;
  margin-right: 2.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular .course-item .price {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
}
.popular .course-item .btn {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.85;
}
.popular .course-item .btn:hover {
  background: var(--primary-color);
}
/* ======= feedback ======= */
.feedback {
  margin-top: 13.5rem;
  padding: 9.6rem 0;
  background: #2e2100;
}
.feedback .feedback-list {
  display: flex;
  overflow: hidden;
}
.feedback .feedback-item {
  display: flex;
  flex-shrink: 0;
  max-width: 100%;
}
.feedback-item .avatar {
  width: 7.2rem;
  height: 7.2rem;
  border-radius: 50%;
  object-fit: cover;
}
.feedback-item .info .name {
  margin-top: 1.8rem;
  font-family: var(--heading-font);
  color: #f7f7f7;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.42;
}
.feedback-item .info .desc {
  margin-top: 0.4rem;
  color: #bfbcb2;
  font-size: 1.4rem;
  line-height: 1.86;
}
.dots {
  gap: 0.6rem;
  display: flex;
  margin-top: 2.8rem;
}
.dot {
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 0.6rem;
  background: #634700;
  cursor: pointer;
}
.active {
  background: #ffb900;
}
.dot.active:hover {
  cursor: default;
  border-radius: 0.6rem;
  background: #ffb900;
}
.feedback-item .content {
  width: 66%;
  margin-left: auto;
  padding-left: 3.2rem;
}
.feedback-item blockquote {
  color: #fff;
  font-family: Poppins;
  font-size: 2.6rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.53;
}
/* ======= features ======= */
.features .body {
  margin-top: 20rem;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.features .images {
  display: flex;
  gap: 3rem;
  position: relative;
}
.features .feat {
  width: 27rem;
  height: 48.4rem;
  border-radius: 1.6rem;
  object-fit: cover;
}
.features .images .feat2 {
  position: absolute;
  left: 30rem;
  bottom: 3.3rem;
}
.features .content {
  width: 47rem;
  margin-top: 5.8rem;
  margin-left: auto;
}
.features .desc {
  margin-top: 1.6rem;
  color: #5f5b53;
  font-size: 1.6rem;
  line-height: 2.8rem;
}
.features .cta-btn {
  background: #ffb900;
  margin-top: 3.2rem;
  width: 14.5rem;
  font-size: 1.6rem;
  font-weight: 600;
}

/* ======= features 2 ======= */
.features-2nd .body {
  flex-direction: row-reverse;
}
.features-2nd .images .feat-2nd {
  width: 47rem;
  height: 44rem;
  border-radius: 2rem;
  object-fit: cover;
}
.features-2nd .content {
  width: 57rem;
  margin-right: 13rem;
}
.features-2nd .heading-lv2 {
  color: #171100;
  font-family: var(--heading-font);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.26;
  letter-spacing: -0.076rem;
}
.features-2nd .cta-btn {
  background: #ffb900;
  margin-top: 3.2rem;
  width: 14.5rem;
  font-size: 1.6rem;
  font-weight: 600;
}
/* ======= Blog ======= */
.blogs {
  margin-top: 13.5rem;
  padding-top: 9.6rem;
  background: hsl(44, 100%, 98%);
}
.blogs .blog-list {
  display: flex;
  gap: 3rem;
  overflow: hidden;
  flex: 1;
}
.blogs .blog-item {
  margin-top: 5.5rem;
  width: 31.625%;
  flex-shrink: 0;
  border-radius: 1.2rem;
  border: 0.2rem solid #e2dfda;
  background: #fff;
}
.blogs .blog-item:hover {
  border-radius: 1.6rem;
  background: #fff;
  box-shadow: 0rem 1.6rem 3.2rem 0rem rgba(0, 0, 0, 0.05);
}
.blogs .blogtop {
  text-align: center;
}
.blogs .heading-lv2 {
  color: #130606;
  font-family: var(--heading-font);
  font-size: 38px;
  font-weight: 700;
  line-height: 1.26;
  letter-spacing: -0.076rem;
}
.blogs .desc1 {
  width: 44.8rem;
  margin: 0 auto;
  color: #696262;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}
.blogs .blog-item .thumb {
  width: 100%;
  height: 27.8rem;
  object-fit: cover;
  border-radius: 1.2rem 1.2rem 0rem 0rem;
}
.blogs .blog-item .info {
  padding: 2rem 2rem 2.8rem;
}
.blogs .datetime {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  position: relative;
  padding-bottom: 1.2rem;
}
.blogs .datetime .linedot {
  width: 0.6rem;
  height: 0.6rem;
  background-color: #ffb900;
}
.blogs .datetime .inderline {
  width: 16rem;
  height: 0.1rem;
  border-radius: 0.5px;
  background: #e2dfda;
  position: absolute;
  left: 0;
  bottom: 0;
}
.blogs .blog-item .date {
  color: #5f5b53;
  font-family: Poppins;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86; /* 185.714% */
}
.blogs .blog-item .desc {
  color: #171100;
  font-family: Poppins;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
  margin-bottom: 1.2rem;
}
.blogs .blog-item .tilte {
  width: 310px;
  margin-top: 1.2rem;
}
.blogs .cta-btn {
  background: #171100;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.86;
}
.blogs .cta-btn:hover {
  background-color: var(--primary-color);
}
.blogs .dots {
  display: flex;
  justify-content: center;
  gap: 0.6rem;
  margin-top: 3.8rem;
  padding-bottom: 9.6rem;
}
.blogs .dot {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 0.6rem;
  background: #5f5b53;
  cursor: pointer;
}
.blogs .dot.active {
  background-color: var(--primary-color);
  cursor: default;
}
/* ======= Footer ======= */
.footer {
  background: #2e2100;
}
.footer .row {
  padding-top: 9.6rem;
  padding-bottom: 3.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0.1rem solid #59554b;
}
.footer .row .column {
  width: 21.6%;
}
.footer .row .column:first-child {
  width: 35%;
}
.footer .desc {
  color: #bfbcb2;
  font-size: 1.4rem;
  width: 26.7rem;
  margin: 1.8rem 0;
}
.footer .socials {
  display: flex;
  gap: 1.8rem;
}
.footer .tilte {
  padding-bottom: 1.4rem;
  padding-right: 4.8rem;
  border-bottom: 0.1rem solid #59554b;
  color: #fff;
  display: inline-block;
  font-size: 1.6rem;
  line-height: 2.8rem;
}
.footer .list a {
  color: #bfbcb2;
  font-family: Poppins;
  font-size: 1.4rem;
  line-height: 2.6rem;
}
.footer .list strong {
  color: #fff;
  font-size: 1.4rem;
  line-height: 2.6rem;
}
.footer .copyright {
  padding: 2.8rem 0;
  color: #807d74;
  text-align: center;
  font-family: Poppins;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.6rem;
}
